h1 {

    font-size: 64px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    display: block;
    margin: auto;

}

h3 {
    font-size: 36px;
    color: white;
}

img {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#text {
    background-color: rgb(5, 65, 17);
    color: white;
    font-size: 28px;
}

#textbg {
    background-color: white;
    color: rgb(5, 65, 17);
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 50px;
}

table,
td {
    font-size: 24px;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}

th,
td {
    background-color: rgb(5, 65, 17);
    color: white;
    padding: 10px;
}

a:link,
a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 24px;
}
